@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('https://media.giphy.com/media/FlodpfQUBSp20/giphy.gif');
}


.footer{
  background-color: #E7AB79;
}

@layer components {
  .btn-nav{
    font-weight:600;
    color:purple;  
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
  }

  .buttonUI{
    background-color: #6B46C1; 
    color: rgb(255, 248, 187); 
    padding: 0.5rem 1rem; 
    font-weight: 600;
    border-radius: 0.375rem; 
    width: 50%;
    margin: auto;
    margin-top: 10px;
  }

  
}

nav{
  background-color: white;
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 1rem; 
  box-sizing: border-box; 
  color: #6B46C1; 
}

#Moon {
  font-family: 'Great Vibes', cursive;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column; /* Cambia la alineación a columna en pantallas pequeñas */
  }

  /* Estilos específicos para pantallas pequeñas */
  .footer > div {
    width: 100%; /* O ajusta el ancho según tus necesidades en pantallas pequeñas */
    margin-bottom: 20px; /* Añade espacio entre las secciones en pantallas pequeñas */
  }
}